<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Crutcher Woodcrafts</h1>
          <p class="lead">more text</p>
          <a href="#" class="btn btn-primary btn-lg">Shop Now</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Text</h4>
            <p class="card-text">More text</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Text</h4>
            <p class="card-text">More text</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Text</h4>
            <p class="card-text">more text</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>